:root {
    --navbar-height: 4.2rem;
    --nav-box-shadow: 0 0 10px 1px rgb(0, 0, 0);
    --nav-color:rgb(180, 52, 52);
    --gray-1:#303841;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0;
}

main {
    width: 100%;
    margin-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: rgb(191, 191, 191);
}


/*navigation bar styles*/
#navbar {
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    background: var(--nav-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    box-shadow: var(--nav-box-shadow);
    z-index: 100;
}

.nav-link {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    height: inherit;
    width: max-content;
    align-content: center;
    text-align: center;
    padding: 0 2vw;
    border-radius: 5px;
    transition: background-color 0.25s ease-in-out;
}

.nav-link:last-of-type {
    margin-right: 2.5rem;
}

.nav-link:hover {
    background-color: rgba(46, 79, 127, 0.9);
}

/*navigation bar styles end here*/

/*Welcome section styles*/
#welcome-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(65deg, rgb(60, 60, 60), black 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#author-name,
#author-profession {
    position: relative;
}

#author-name {
    font-size: 3.4rem;
    margin: 0;
    top: 10vh;

}

#author-profession {
    font-family: 'poppins';
    color: brown;
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    top: 5vh;
}

/* project section  styles*/

section#projects {
    background: rgb(57, 78, 124);
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 5em;
}

/*project section header styles*/
header.project-title {
    background: transparent;
    height: max-content;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
    max-width: 60rem;
}

header.project-title>h1 {
    font-family: "poppins";
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

header.project-title hr {
    height: 2px;
    width: 100%;
    border: none;
    background-color: white;
}

   /*Ends section header styles*/

   /*Project Wrap Styles*/

.projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2em;
}


.projects-wrap>div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    align-content: center;
    gap: 1em;
    flex-grow: 1;

    width: 300px;
    height: max-content;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;

    box-shadow: 0 0 2.5px rgb(58, 54, 54);
    cursor: pointer;
}
.projects-wrap > div > a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.projects-wrap>div img {
    align-self: center;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.projects-wrap > div .project-name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background-color: var(--gray-1);
    
}
.projects-wrap > div .project-name h1{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

#projects > a {
    font-size: 1.2em;
    color: white;
    background-color:var(--gray-1);
    margin-top: 3em ;
    margin-bottom: 1em;
    padding: 1.2em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    text-decoration: none;
    height: 2em;
    width: max-content;
    border: none;
    border-radius: 2px;

    transition: background-color 0.35s ease-in-out;
}
#projects > a > img{
    height: 1em;
    filter: invert();
    margin-left: 0.5em;
    transition: transform 0.35s ease-in-out;
}


#projects > a:hover{
    background-color: var(--nav-color);
}
#projects > a:hover img{
    transform: translateX(5px);
}
/*footer styles*/
footer *{
    
}
footer {
    color: rgb(220, 220, 220);
    background: var(--gray-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 3em 0 2em 0;

}
#footer-header{
    margin: 2em 0 3em 0;
}
#footer-title{
    font-size: 3.5em;
    margin: 0;
}
#footer-header h3{
    margin: 0;
    padding: 0.5em 0;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}

footer .contacts{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 1em;
    width: 100%;

    justify-content:center;
    align-items: center;
    padding: 0 0 4em 0;
}

footer > .contacts > div{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3em;

    background: transparent;
    display:flex ;
    align-items: center;
    justify-content: center;
    width:max-content;
    height: fit-content;

    transition: transform 0.25s ease-in-out;
    cursor: pointer;
}

footer img {
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    object-fit: cover;
    filter: invert(0.9);
    margin-right: 0.5em;
}

footer > hr {
    width: 100%;
    height: 3px;
    border: none;
    background-color: var(--nav-color);
}
footer .about{
    font-size: 1.1em;
    margin: 0 2em;
    display: flex;
    column-gap: 6em;
    text-align: justify;
}

footer > .contacts > div:hover {
    transform: translateY(5px);
}
/*media queries*/
